#bottom_footer {
  height:70px;
  position:absolute;
  bottom:0;
  width: 100%;
  text-align: center;
}

.bottom_footer a {
  color: #337ab7;
  text-decoration: none;
}

.bottom_footer a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

.edit-delete-buttons form,
.edit-delete-buttons form div {
  display: inline;
}

.edit-delete-buttons input {
  display: inline;
  vertical-align: middle;
}
